<h1>Page for <%= @guest.name %></h1>



<ul> Episode | Rating
    <% @guest.ratings_high_to_low.each do |appearance| %>
        <li><%= link_to appearance.episode.date, episode_path(appearance.episode) %> | <%= appearance.rating%> </li>
    <% end%>
</ul>
