<h1>All The Episodes</h1>
<%= button_to "Guests", guests_path, method: :get %>
<br>
<%= button_to "Make an Appearance", new_appearance_path, method: :get %>
<br>
<hr>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode) %></li>
  <% end %>
</ul>
