<h1>Episode Show Page</h1>

<p> 
    Date: <%= @episode.date %>
</p>
<p>Average Rating:
    <%= @episode.average_rating %>
</p>
<p>Guests:
    <ul>
        <% @episode.guests.each do |guest| %>
            <li><%= link_to guest.name, guest_path(guest) %></li>
        <% end%>
    </ul>
</p>

