<h1>Episode Show Page </h1>

<h3> Air date: </h3>
<%= @episode.date%>
<% @episode.appearances.each do |appearance|%>
<h3>Guest Appearances: </h3>
<p><%= link_to appearance.guest.name, guest_path(appearance.guest) %></p>
<%end%>
