<h1>Episode Info</h1>
<p>Episode Date: <%=@episode.date%></p>
<p>Episode Average Rating: <%=@episode.average_rating%>/5</p>
<ul>
    <%@episode.guests.each do |e|%>
    <li><%= link_to e.name, guest_path(e) %></li>
    <%end%>
</ul>
<%= button_to  "Go back", episodes_path, method: :get %>